.row.row--footer
  .row__inner.row__inner--footer
    %nav.col--footer
      %a.title--list--footer.nav__item--vertical--footer(href='/destinations')
        Destinations
      - [['Africa', 'africa'], ['Antarctica', 'antarctica'], ['Asia', 'asia'], ['Caribbean Islands', 'caribbean'], ['Central America', 'central-america'], ['Europe', 'europe'], ['Middle East', 'middle-east'], ['North America', 'north-america'], ['Pacific', 'pacific'], ['South America', 'south-america']].each do |d|
        %a.nav__item--vertical--footer{href: "/#{d[1]}"}
          = d[0]
    
    %nav.col--footer
      %a.title--list--footer.nav__item--vertical--footer(href='/shop')
        Shop
      - [['Destination Guides', 'destination-guides'], ['eBooks', 'ebooks'], ['Pictorial & Gifts', 'pictorials-and-gifts'], ['Phrase Books', 'phrasebooks'], ['Activity Guides', 'activity-guides'], ['Special Offers', 'special-offers']].each do |d|
        %a.nav__item--vertical--footer{href: "/shop/#{d[1]}"}
          = d[0]
  
    %nav.col--footer
      %a.title--list--footer.nav__item--vertical--footer(href='/thorntree')
        Thorn Tree Forum
      - [['Departure Lounge', 'category.jspa?categoryID=2'], ['The Lobby', ''], ['Check in with Lonely Planet', ''], ['Tree House', ''], ['Sell, Swap & Meet Up', '']].each do |d|
        %a.nav__item--vertical--footer{href: "/thorntree/#{d[1]}"}
          = d[0]

    %nav.col--footer
      %a.title--list--footer.nav__item--vertical--footer(href='/themes')
        Themes
      - [['Adventure travel', 'adventure-travel'], ['Big Trips', 'big-trips'], ['Honeymoons', 'honeymoons'], ['Photography', 'photography'], ['Road Trips', 'road-trips'], ['Value Travel', 'value-travel'], ['Wildlife', 'wildlife'], ['World food', 'world-food']].each do |d|
        %a.nav__item--vertical--footer{href: "/themes/#{d[1]}"}
          = d[0]

    %nav.col--footer
      %a.title--list--footer.nav__item--vertical--footer(href='/bookings')
        Travel Booking
      - [['Hotels', 'hotels'], ['Flights', 'flights'], ['Insurance', 'insurance']].each do |d|
        %a.nav__item--vertical--footer{href: "/#{d[1]}"}
          = d[0]

    .col--footer--last
      .box-description--footer
        %h3.box-description__title--footer
          Join our mailling list
        %p.box-description__lead--footer
          Sign up here to receive all your travel inspiration, trips and exclusive offers
        %form.box-description__inner
          %input.input--small--footer(type='text' id='newsletter-email' autocomplete='off' name='newsletter[email]' placeholder='your@email.com')
          %input.btn--submit--small.btn--green(type='submit' name='newsletter[email]' title='Subscribe Newsletter' value='Sign up')

      .box-description--footer
        .box-description__title--footer
          Follow us
        .box-description__inner
          %nav
            - [['twitter', 'https://twitter.com/lonelyplanet'], ['facebook', 'https://www.facebook.com/lonelyplanet'], ['google-plus', 'https://plus.google.com/+LonelyPlanet/'], ['flickr', 'http://www.flickr.com/groups/lonelyplanetpublications/'], ['rss', '/blog/feed/atom/']].each do |d|
              %a.nav__item{href: "#{d[1]}", class: "icon--regular sprite-core--standard icon--#{d[0]}"}

