.row.row--footer
  .row__inner.row__inner--footer
    %nav.col--footer
      %h6
        %a.title--list--footer.nav__item--vertical--footer(href='/destinations')
          Destinations
      - footer_nav_destination_items.each do |destination|
        %a.nav__item--vertical--footer{href: "/#{destination[:url]}"}
          = destination[:title]
    
    %nav.col--footer
      %h6
        %a.title--list--footer.nav__item--vertical--footer(href='/shop')
          Shop
      - footer_nav_shop_items.each do |shop|
        %a.nav__item--vertical--footer{href: "/shop/#{shop[:url]}"}
          = shop[:title]
  
    %nav.col--footer
      %h6
        %a.title--list--footer.nav__item--vertical--footer(href='/thorntree')
          Thorn Tree Forum
      - footer_nav_thorntree_items.each do |thorntree|
        %a.nav__item--vertical--footer{href: "/thorntree/#{thorntree[:url]}"}
          = thorntree[:title]

    %nav.col--footer
      %h6
        %a.title--list--footer.nav__item--vertical--footer(href='/themes')
          Themes
      - footer_nav_themes_items.each do |theme|
        %a.nav__item--vertical--footer{href: "/themes/#{theme[:url]}"}
          = theme[:title]

    %nav.col--footer
      %h6
        %a.title--list--footer.nav__item--vertical--footer(href='/bookings')
          Travel Booking
      - footer_nav_travel_bookings_items.each do |booking|
        %a.nav__item--vertical--footer{href: "/#{booking[:url]}"}
          = booking[:title]

    .col--footer--last
      .box-description--footer
        %h3.box-description__title--footer
          Join our mailing list
        %p.box-description__lead--footer
          Add your email here to receive all your travel inspiration, trips and exclusive offers
        %form.box-description__inner.newsletter--footer(action='http://www.lonelyplanet.com/newsletter/subscribe_footer.php' method='post')
          %input.input--small--newsletter(type='text' id='newsletter-email' autocomplete='off' name='newsletter-email' placeholder='your@email.com')
          .dropdown.dropdown--country.js-select-country
            %label.dropdown__value.dropdown__value--country.js-select-overlay(href='#select-country')
              Select country
            %select.dropdown__select.js-select(name='newsletter-country' id='countrySelect')
              - footer_newsletter_country_items.each do |country|
                %option(value="#{country[:title]}")
                  = country[:title]
          %input.btn--submit--small.btn--green(type='submit' title='Subscribe Newsletter' value='Sign up')
