.row.row--sitemap#js-footer-nav
  .row__inner.row__inner--footer.row--sitemap__inner
    .nav--stacked.col--footer
      %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/destinations') Destinations
      - footer_nav_destination_items.each do |destination|
        %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/#{destination[:url]}"}<
          = destination[:title]

    .nav--stacked.col--footer
      %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/shop') Shop
      - footer_nav_shop_items.each do |shop|
        %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/shop/#{shop[:url]}"}<
          = shop[:title]

    .nav--stacked.col--footer
      %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/thorntree') Thorn Tree Forum
      - footer_nav_thorntree_items.each do |thorntree|
        %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/thorntree/#{thorntree[:url]}"}<
          = thorntree[:title]

    .nav--stacked.col--footer
      %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/themes') Themes
      - footer_nav_themes_items.each do |theme|
        %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/themes/#{theme[:url]}"}<
          = theme[:title]

    .nav--stacked.col--footer
      %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/bookings') Travel Booking
      - footer_nav_travel_bookings_items.each do |booking|
        %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/#{booking[:url]}"}<
          = booking[:title]

    .col--footer--last
      %span.title--footer.title--list--footer
        Newsletter sign up
      %p.nav__item--footer
        %strong
          Subscribe now
        and receive a
        %strong
          20% discount
        on your next guidebook purchase
      %form.newsletter--footer(action='http://www.lonelyplanet.com/newsletter/subscribe_footer.php' method='post')
        %label.title--footer.polyfill--placeholder.newsletter--placeholder Email
        %input.input--small--newsletter(type='text' id='newsletter-email' autocomplete='off' name='newsletter-email' placeholder='your@email.com')
        .dropdown.dropdown--country.js-select-country
          %label.dropdown__value.dropdown__value--country.js-select-overlay(href='#select-country')
            Select country
          %select.dropdown__select.js-select(name='newsletter-country' id='countrySelect')
            - footer_newsletter_country_items.each do |country|
              %option(value="#{country[:title]}")
                = country[:title]
        %input.btn--regular.btn--green(type='submit' title='Subscribe Newsletter' value='Sign up')
