.row.row--footer--darker
  .row__inner.row__inner--footer.row__inner--break--light
    .nav--footer--base
      - footer_nav_about_items.each do |item|
        %a.nav__item.nav__item--footer--darker{href: "http://www.lonelyplanet.com#{item[:url]}"}
          = item[:title].html_safe

    %form#js-language.form--language(action="http://www.lonelyplanet.com/international")
      %label.label--footer(for="select-language")
        International:
      .dropdown.dropdown--language.js-select-language
        %label.dropdown__value.dropdown__value--language.js-select-overlay(href='#select-language')
          English
        %select.dropdown__select.js-select{name: "language", id: 'languageSelect'}
          - [['en','English'],['de','Deutsch'],['fr','Français'],['es','Español'],['it','Italiano'],['cn','中文简体'],['jp','日本語'],['ru','Русский'],['br','Português']].each do |d|
            %option(value="#{d[0]}")
              = d[1]
      %input.input--submit.submit--language(name="Go" type="submit" value="Go")
  .row__inner
    %p.text--legal.media--lp-logo--footer
      &copy; 
      = Time.now.year 
      Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.
      This website is owned by BBC Worldwide, which is a commercial company owned by the BBC.

