- cache "#{__FILE__}--#{local_assigns.map(&:to_s).join}--#{Rizzo::COMMIT}" do
  .row.row--sitemap#js-footer-nav
    .row__inner.row__inner--footer.row--sitemap__inner

      .col--footer--last
        %span.title--footer.title--list--footer
          Newsletter sign up
        %p.nav__item--footer
          %strong
            Subscribe now
          and receive a
          %strong
            20% discount
          on your next guidebook purchase
        %form.newsletter--footer(action='http://www.lonelyplanet.com/newsletter/form-submission.php' method='post')
          %label.polyfill--placeholder.newsletter--placeholder Email
          %input.input--small--newsletter(type='text' id='newsletter-email' autocomplete='off' name='sailthru_email' placeholder='your@email.com' required='required')
          %input(type='hidden' name='Source' value='homepagefooter')
          %input(type='hidden' name='type' value='subscribe')
          .dropdown.dropdown--country.js-select-group-manager
            %label.dropdown__value.dropdown__value--country.js-select-overlay.icon--chevron-down--after(for='select-country')
              Select country
            %select.dropdown__select.js-select#select-country(name='sailthru_Country')
              - footer_newsletter_country_items.each do |country|
                %option(value="#{country[:title]}")
                  = country[:title]
          %input.btn.btn--green(type='submit' title='Subscribe Newsletter' value='Sign up')

      .col--footer
        %input{type: "checkbox", id: 'ac-destinations', class: "accordion__input"}
        .nav--stacked.accordion__target.accordion__target--mid
          %label{for: 'ac-destinations', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
          %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/destinations') Destinations
          - footer_nav_destination_items.each do |destination|
            %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/#{destination[:url]}"}<
              = destination[:title]

      .col--footer
        %input{type: "checkbox", id: 'ac-shop', class: "accordion__input"}
        .nav--stacked.accordion__target.accordion__target--mid
          %label{for: 'ac-shop', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
          %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/shop') Shop
          - footer_nav_shop_items.each do |shop|
            %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/shop/#{shop[:url]}"}<
              = shop[:title]

      .col--footer
        %input{type: "checkbox", id: 'ac-thorntree', class: "accordion__input"}
        .nav--stacked.accordion__target.accordion__target--mid
          %label{for: 'ac-thorntree', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
          %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/thorntree') Thorn Tree Forum
          - footer_nav_thorntree_items.each do |thorntree|
            %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/thorntree/#{thorntree[:url]}"}<
              = thorntree[:title]

      .col--footer
        %input{type: "checkbox", id: 'ac-themes', class: "accordion__input"}
        .nav--stacked.accordion__target.accordion__target--mid
          %label{for: 'ac-themes', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
          %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/themes') Themes
          - footer_nav_themes_items.each do |theme|
            %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/themes/#{theme[:url]}"}<
              = theme[:title]

      .col--footer
        %input{type: "checkbox", id: 'ac-bookings', class: "accordion__input"}
        .nav--stacked.accordion__target.accordion__target--mid
          %label{for: 'ac-bookings', class: 'accordion__title accordion__title--footer icon--chevron-down--after'}
          %a.js-nav-item.title--footer.title--list--footer(href='http://www.lonelyplanet.com/bookings') Travel Booking
          - footer_nav_travel_bookings_items.each do |booking|
            %a.js-nav-item.nav__item.nav__item--sitemap.nav__item--footer{href: "http://www.lonelyplanet.com/#{booking[:url]}"}<
              = booking[:title]
