<<<<<<< HEAD
.row.row--footer--about
  .row__inner.row__inner--footer
    .split--left.nav--inline
      %a.nav__item.media--lp-logo--footer(href='http://www.lonelyplanet.com')
      .nav__item.nav--inline
        - footer_nav_about_items.each do |item|
          %a.nav__item.nav__item--about{href: item[:url]}<
            = item[:title].html_safe

    .split--right
      .nav--inline.nav--social.split--right__inner
        .title--footer.title--social.nav__item Follow us
        .nav--social__inner.nav__item
          %nav.nav--inline
            - social_media_nav.each do |item|
              %a.nav__item.nav__item--social{href: "#{item[:url]}", class: "icon--regular icon--#{item[:title]}"}
                = item[:title].capitalize


.row.row--smallprint
  .row__inner.row__inner--footer.row--smallprint__inner
    .split--left.text--legal
      %p
        &copy; 
        = Time.now.year 
        Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.<br />
        This website is owned by BBC Worldwide, which is a commercial company owned by the BBC.

    .split--right
      %form.split--right__inner.nav--inline#js-language.form--language(action="http://www.lonelyplanet.com/international")
        %label.nav__item.form--language__label.title--footer(for="select-language") International
        .nav__item.dropdown.dropdown--language.js-select-language
          %label.dropdown__value.dropdown__value--language.js-select-overlay(href='#select-language')
            English
          %select.dropdown__select.js-select{name: "language", id: 'languageSelect'}
            - language_options.each do |d|
              %option(value="#{d[0]}")
                = d[1].html_safe
        %input.input--submit.submit--language(name="Go" type="submit" value="Go")
