/[if lt IE 9]
  :javascript
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('figure');
    document.createElement('figurecap');
    document.createElement('hgroup');
    document.createElement('time');
- cache "#{__FILE__}--javascript" do
  :javascript
    // Setup our namespace
    window.lp = {};

    // Utility cookie retrieval function
    window.lp.getCookie = function (name) {
      return unescape(document.cookie.replace(new RegExp("(?:(?:^|.*;)\\s*" + escape(name).replace(/[\-\.\+\*]/g, "\\$&") + "\\s*\\=\\s*([^;]*).*$)|^.*$"), "$1")) || null;
    };

    // Test for LocalStorage support (and space)
    window.lp.supports = {};
    window.lp.supports.localStorage = 'localStorage' in window && (function() {
      try {
        localStorage.setItem("test", "test");
        localStorage.removeItem("test");
        return true;
      } catch(e){
        return false;
      }
    }());

    // Setup js error logging
    var _trackJs = {
      customer: '3cd28f4c5df14f6e9fffa815ed7712b0',
      globalAlias: false,
      consoleDisplay: true,
      userId: window.lp.getCookie('lpUid')
    };

    // Switch no-js class for js
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement);

    // Initialise a flamsteed buffer
    window.lp.fs = {
      buffer: [], 
      log : function(x){this.buffer.push({e: x})},
      time: function(x){!!window.performance && !!window.performance.now && this.buffer.push({e: x, t: window.performance.now()})}
    };

    // Dev analytics package
    (function(d,t,c){
      if (!d.cookie.match(/lpDev/)) return;
      var g=d.createElement(t);
      var s=d.getElementsByTagName(t)[0];
      g.src="//assets.staticlp.com/analytics/analytics.dev.js?"+c.getTime();
      s.parentNode.insertBefore(g,s);
    }(document,"script",new Date));

= render 'layouts/core/inline_js/cut_the_mustard'
= render 'layouts/core/inline_js/fonts_loader'
= render 'layouts/core/inline_js/grunticon', sheet: 'active'
= render 'layouts/core/inline_js/require_js_config'

- if (yield :async_js).present?
  = render 'layouts/core/inline_js/require_js_async', script_name: "#{yield :async_js}"
