.activity-list
  .activity-list__title.copy--h5<
    = properties[:title]

  %ul.activity-list__container
    - properties[:items].each_with_index do |item,i|
      %li.media.media--rev.activity-list__item{ class: properties[:rowClass] ? "activity-list--icon #{properties[:rowClass]}" : "" }
        %span.media__body
          %a.activity-list__link{ href: "/profiles/#{item[:user][:username]}" }
            = item[:user][:name]
          = item[:action]
          %a.activity-list__link{ href: item[:link][:path], class: item[:link][:icon] ? "activity-list__icon text-icon--#{item[:link][:icon]}" : "" }
            = item[:link][:text]
        %time.activity-list__icon.activity-list__time.media__img{:datetime => Time.new(item[:timestamp])}<
          = time_ago_in_words(Time.at(item[:timestamp]))
          ago
