.hero-banner.js-bg-parallax.row{style: "background-image: url(#{properties[:image_url]})", class: properties[:image_info] ? 'hero-banner--flickr' : '' }
  .hero-banner__content.row__inner

    - unless properties[:image_info]
      .hero-banner__text
        %h1.hero-banner__header
          = properties[:title]
        - if properties[:strapline]
          %p.hero-banner__strapline
            = properties[:strapline]

    - if image_info = properties[:image_info]
      .hero-banner__image-content
        .hero-banner__image-header
          .hero-banner__image-description.text-icon.icon--flickr--before
            = image_info[:image_description]
        .hero-banner__image-footer
          %a.hero-banner__source{href: image_info[:user_url]}
            %img{src: image_info[:user_image], class: 'hero-banner__avatar', alt: image_info[:user_name]}
            %span.hero-banner__source-text
              by
            %span.hero-banner__username
              = image_info[:user_name]
          .hero-banner__image-title
            = image_info[:image_title]

    - if properties[:sponsored]
      .hero-banner__sponsor.ad-sponsorTile
        = ui_component('ads/sponsor_tile', properties: { sizes: '150x120' })
