.footer
  .row
    .row__container
    
  .row.row--footer--site-map
    .row__container
      .grid-wrapper--10
        %nav.column--footer.grid--6
          - ['Destinations', 'Africa','Antarctica','Asia','Caribbean Islands','Central America','Europe','Middle East','North America','Pacific','South America'].each do |d|
            %a.nav__item--vertical--footer(href=d)
              = d
        
        %nav.column--footer.grid--6
          - ['Shop','Destination Guides','eBooks','Pictorial & Gifts','Phrase Books','Activity Guides','Special Offers'].each do |d|
            %a.nav__item--vertical--footer(href=d)
              = d
      
        %nav.column--footer.grid--6
          - ['Thorn Tree Forum','Departure Lounge','The Lobby','Check in with Lonely Planet','Tree House','Sell, Swap & Meet Up'].each do |d|
            %a.nav__item--vertical--footer(href=d)
              = d

        %nav.column--footer.grid--6
          - ['Themes','Adventure travel','Big Trips','Honeymoons','Photography','Road Trips','Value Travel','Wildlife','World food'].each do |d|
            %a.nav__item--vertical--footer(href=d)
              = d

        %nav.column--footer.grid--12
          - ['Travel Booking','Hotels','Flights','Insurance'].each do |d|
            %a.nav__item--vertical--footer(href=d)
              = d

        .column--footer.grid--5--ext
          .box-description--footer
            %h3.box-description__title--footer
              Join our mailling list
            %p.box-description__lead--footer
              Sign up here to receive all your travel inspiration, trips and exclusive offers
            %form.box-description__container
              %input.input--regular--footer(type='text' id='newsletter-email' autocomplete='off' name='newsletter[email]' placeholder='your@email.com')
              %input.btn-submit--regular--newsletter(type='submit' name='newsletter[email]' title='Subscribe Newsletter' value='Sign up')

          .box-description--footer
            .box-description__title--footer
              Follow us
            .box-description__container
              - ['twitter','facebook','google-plus','flicr','rss'].each do |d|
                %nav
                  %a.nav__item(href='' class="icon--regular sprite--social icon--regular--#{d}")


  .row.row--footer-base
    .row__container 
      .split--footer
        %nav.nav--footer-base
          - ['About us','Work for us', 'Contact Us', 'Press centre, trade & advertising'].each do |d|
            %a.nav__item.nav__item--footer-base(href="d")
              = d
          %a.nav__item.nav__item--footer-base.dropdown--regular--footer
            = "Terms & Conditions"
        %form(action="http://www.lonelyplanet.com/international" id="language")
          %fieldset
            %label.label--footer(for="select-language")
              International:
            %input.input--regular--footer.dropdown--regular--footer(type='text' id='select-language' autocomplete='off' name='language[select]' placeholder='English' readonly)
            %select(id="js-language-select" name="select-language" style='display:none')
              - [['en','English'],['de','Deutsch'],['fr','Français'],['es','Español'],['it','Italiano'],['co','中文简体'],['jp','日本語']].each do |d|
                %option(value="#{d[0]}")
                  = d[1]
            %input.submit--footer(name="Go" type="submit" value="Go")
      %p.media--ext--lp-legal
        © 2012 Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.
        This website is owned by BBC Worldwide, which is a commercial company owned by the BBC.
              

