<div class="styleguide">

  <h3 class="styleguide__title section-title"><%= @section.section %> - <%= @section.description %> <em><%= @section.filename %></em></h3>
  <div class="styleguide__description">
    <% if @section.modifiers.any? %>
      <ul class="styleguide__modifiers">
        <% @section.modifiers.each do |modifier| %>
          <li class="styleguide__modifier"><strong><%= modifier.name %></strong> - <%= modifier.description %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="styleguide__elements">
  <% @section.modifiers.each do |modifier| %>
    <div class="styleguide__element">
      <span class="styleguide__element--name"><%= modifier.name %></span>
      <div class="styleguide__element__inner">
        <%= @example_html.gsub('$modifier_class', " #{modifier.class_name}") %>
      </div>
    </div>
  <% end %>
  </div>
  <div class="styleguide__code">
    <pre><%= @escaped_html %></pre>
  </div>

</div>
