%meta{charset: "utf-8"}
%meta{name: "author", content: 'Lonely Planet'}
%meta{name: "fb:app_id", content: "111537044496"}
= yield :meta

%title
  = content_for?(:head_title) ? yield(:head_title) : 'Lonely Planet Travel Guides and Travel Information'

= yield :dns_prefetch
= yield :place_hotels_link
%link{rel: "dns-prefetch", href: "http://assets.staticlp.com"}
%link{rel: "icon", type: "image/gif", href: "https://www.lonelyplanet.com/favicon.ico"}
= yield :pagination_links_rels

- if responsive
  %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
- else
  %meta{name:"viewport", content:"width=1024"}

= csrf_meta_tags
= render 'layouts/core/snippets/head_js'
= render 'layouts/core/inline_js/tynt' unless suppress_tynt

= smart_stylesheet('common_core_no_font')
= yield :stylesheets

