%article.tile.tile--menu
  .tile__wrapper
    .tile__media.tile__media--img
      = safe_image_tag(properties[:image_src], alt: properties[:image_alt])
    .tile__cover
      .tile__cover__content
        - if properties[:cover_title]
          %h1.tile__cover__title
            = properties[:cover_title]
        %ul.tile__cover__fragment
          - properties[:cover_links].each do |link|
            %li
              %a{ href: link[:link_url] }
                = link[:link_text]
    - if properties[:sash]
      %span{ class: "tile__sash tile__sash--#{properties[:sash]}" }
        = properties[:sash]