%article.card.card--single.card--poi.card--poi--activity.js-card.js-single{class: stack_item.image_url ? 'card--small-image card--extended-content' : 'card--no-image' }
  %a.link--wrapper(href="/#{stack_item.slug}")
    = render :partial => '/components/cards/things_to_do/card_tags', :locals => { :stack_item => stack_item }
    - if stack_item.image_url
      %figure.card__hero
        = image_tag(stack_item.image_url, class: 'card__image')
    %section.card__content
      %span.card__context
        Activity
      %h1.card__name.js-card-name
        = stack_item.name
      %p.card__description
        = raw sanitize(stack_item.card_description)
  - if stack_item.bookable?
    %footer.card__footer
      %span.btn.btn--bookable.btn--full-width
        Book now
