%article.card.card--single.card--poi.card--poi--sight.js-card.js-single{class: stack_item.image_url ? 'card--small-image card--extended-content' : 'card--no-image' }
  %a.link--wrapper(href="/#{stack_item.slug}")
    = render :partial => '/components/cards/things_to_do/card_tags', :locals => { :stack_item => stack_item }
    - if stack_item.image_url
      %figure.card__hero
        = image_tag(stack_item.image_url, class: 'card__image')
    .card__content
      %span.card__context
        Sight
      %h1.card__name.js-card-name
        = stack_item.name
      %p.card__description
        = stack_item.card_description