:ruby
  show_description = item[:show_description] || true
  item_title = item[:name] || item[:title]
  item_href = item[:path] || item[:href] || item[:url] || item[:slug]
  item_class = "#{item[:extra_style]} js-#{item[:section]}-item"
  item_data = { 'item-kind' => "stack:#{item[:section]}" }

%a.nav--left__item.nav__item--chevron{href: item_href, class: "#{item_class} #{item[:current] ? 'is-active' : ''}", data: item_data}
  = item_title

  - if item[:count]
    %span{class: 'nav--left__item__facet'} (#{item[:count]})