:ruby
  show_description = opts[:show_description] || true
  item_title = item[:name] || item[:title]
  item_href = item[:path] || item[:href] || item[:url] || item[:slug]
  item_class = "nav__item--stack nav__item--chevron js-#{item[:section]}-item "
  item_data = { 'item-kind' => "stack:#{item[:section]}" }


%a{href: item_href, class: "#{item_class} #{item[:current] ? 'nav__item--current--stack' : ''}", data: item_data}
  = item_title

  - if opts[:show_description] && item[:description]
    %span{class: 'nav__standfirst'}
      = item[:description]

  - if item[:count]
    %span{class: 'facet--inline-count'}
      = item[:count]