- require "ostruct"


= sg_component('cards/collection_card', stack_item: OpenStruct.new(cards_stub[3]), original_stub: cards_stub[3])
= sg_component('cards/collection_card', stack_item: OpenStruct.new(cards_stub[2]), original_stub: cards_stub[2])
= sg_component('cards/article_card', stack_item: OpenStruct.new(cards_stub[0]), original_stub: cards_stub[0])
= sg_component('cards/blog_card', stack_item: OpenStruct.new(cards_stub[0]), original_stub: cards_stub[0])
= sg_component('cards/media_card', stack_item: OpenStruct.new(cards_stub[4]), original_stub: cards_stub[4])
= sg_component('cards/need_to_know_card', stack_item: OpenStruct.new(cards_stub[1]), original_stub: cards_stub[1])
= sg_component('cards/place_card', stack_item: OpenStruct.new(cards_stub[5]), original_stub: cards_stub[5])

- link_cards.each do |link_card|
  = sg_component('cards/link_card', stack_item: OpenStruct.new(link_card), original_stub: link_card)

= sg_component('cards/shop_card', stack_item: OpenStruct.new(cards_stub[0]), original_stub: cards_stub[0])
= sg_component('cards/ad_sense_card', stack_item: OpenStruct.new(cards_stub[0]), original_stub: cards_stub[0])
= sg_component('cards/mpu_card', stack_item: OpenStruct.new(cards_stub[0]), original_stub: cards_stub[0])
= sg_component('cards/traffic_driver_card', stack_item: OpenStruct.new(cards_stub[0]), original_stub: cards_stub[0])
-# = sg_component('cards/double_link_card', stack_item: OpenStruct.new(cards_stub[2]), original_stub: cards_stub[2])