.styleguide-block__description.card
  .styleguide-block__tabs

    .copy--h2.styleguide-block__heading #{properties.delete(:styleguide_title)}
    .styleguide__partial.copy--body
      \= ui_component('#{component}', #{component}:
      %b properties
      )
    %input.styleguide__input-copy.styleguide__partial.copy--body.is-hidden{ value: "= ui_component('#{component}', #{component}: properties)" }
    %pre.styleguide.copy--body.language-ruby
      %code #{JSON.pretty_generate properties}

