.wrapper--footer.js-wrapper
  = render 'layouts/core/snippets/body_footer'

- unless defined? no_scripts
  .js-config.is-hidden
    = render 'layouts/core/inline_js/fs_init'
    = js_configuration
    :javascript
      (function(d, s) {
        var firstJs, js;
        firstJs = d.getElementsByTagName(s)[0];
        js = d.createElement(s);
        js.src = "#{normalised_asset_path('requirejs/require.js')}";
        js.setAttribute("data-main", "#{async_js_path("app_core_legacy")}");
        firstJs.parentNode.insertBefore(js, firstJs);
      })(document, 'script');

    = render 'layouts/legacy/snippets/nav_tracking'

  -# This has to be outside 'is-hidden' for the interstitial. Temporary solution
  -# to be replaced by generic ad-serving solution
  = render 'layouts/legacy/snippets/wallpaper'
