.range-slider.context--content
  %h4.copy--h4
    = properties[:title]

  .js-range-slider{data: {range: "#{properties[:min][:extreme]},#{properties[:max][:extreme]}", current: "#{properties[:min][:value]},#{properties[:max][:value]}", targets: "#{properties[:min][:name]},#{properties[:max][:name]}", cap_level: "#{properties[:cap_level] ? properties[:cap_level] : false}"}}

  .range-slider__labels.js-range-labels<
    %span.js-range-min #{properties[:unit]}#{properties[:min][:value]}
    %span &ndash;
    %span.js-range-max #{properties[:unit]}#{properties[:max][:value]}

  .no-js-visible
    .grid-wrapper--10
      .col--one-half
        = ui_component('forms/text_field', properties: {label: "Min #{properties[:unit] ? properties[:unit] : ""}", name: "[filters][price][lower]", id: 'no-js-lower-price-filter', value: properties[:min][:value]})
      .col--one-half
        = ui_component('forms/text_field', properties: {label: "Min #{properties[:unit] ? properties[:unit] : ""}", name: "[filters][price][upper]", id: 'no-js-upper-price-filter', value: properties[:max][:value]})
