= render :layout => 'components/forms/partials/field', :locals => { id: opts[:id], label: opts[:label] } do
  .field__input
    - opts[:fields].each_with_index do |dropdown, i|

      - field_id = i==0 ? opts[:id] : "#{opts[:id]}-#{i}"

      - if opts[:fields].length > 1
        - if i == 0
          - field_class += " field__dropdown--first wtf #{i}"
        - elsif i == opts[:fields].length - 1
          - field_class += " field__dropdown--last wtf #{i}"
        - else
          - field_class += " field__dropdown--middle wtf #{i}"

      = ui_component('forms/dropdown', opts: { id: field_id, name: dropdown[:name], placeholder: dropdown[:placeholder], options: dropdown[:options], selected: dropdown[:selected], class: field_class })
