:ruby

  css_classes = [

    "card",
    "card--poi",
    "card--small-image",
    "card--extended-content",
    "icon--blog--white--before",
    "#{card[:double?] ? 'card--double card--full-image' : 'card--single'}"

  ].join(" ")


%article.js-card{class: css_classes}

  %a.link--wrapper{href: card[:url]}

    - if card[:image_url]
      %figure.card__hero
        = safe_image_tag(card[:image_url], class: 'card__image', alt: "#{card[:title]}", lazyload: defined?(lazyload))

    .card__content
      %span.card__context
        Blog

      %h2.card__name
        = card[:title]

      - if card[:subtitle]
        %p.card__description
          = card[:subtitle]