:ruby

  css_classes = [

    "card",
    "card--collection",
    "card--collection--#{card[:topic]}",
    "#{card[:filter] ? 'js-stack-card-filter' : ''}",
    "#{card[:double?] ? 'card--double card--full-image' : 'card--single card--extended-content--half'}"

  ].join(" ")


%article.js-card{class: css_classes, data: { 'stack-kind' => card[:stack_kind], :filter => card[:filter] } }

  %a.link--wrapper{href: card[:url]}

    - if card[:count]
      %span.card__item-count
        = card[:count]

    = render partial: "components/cards/partials/card_content", locals: {card: card}
