%article.card.card--collection.js-card{class: "#{card[:double?] ? 'card--double card--full-image' : 'card--single card--extended-content--half js-single'} card--collection--#{card[:topic]} #{(card[:filter]) ? "js-stack-card-filter" : ""}"}
  %a.link--wrapper{:href => "/#{card[:slug]}", :data => { 'stack-kind' => card[:stack_kind], :filter => card[:filter] }}
    - if card[:count]
      %span.card__item-count
        = card[:count]
    %figure.card__hero{class: (card[:double?]) ? "card__hero--#{card[:topic]}" : ''}
      = safe_image_tag(card[:image_url], class: 'card__image', alt: "#{card[:title]}", lazyload: defined?(lazyload))
    .card__content
      .card__content__inner
        %span.card__context
          - if card[:kind].present?
            = card[:kind].titlecase
          - else
            Collection
        %h2.card__name.js-card-name
          = card[:title]
        - unless card[:double?]
          - if card[:description].present?
            %p.card__description
              = card[:description]

        - if card[:image_license] && card[:image_license] != 'expedia'
          .card__attribution<
            %span.card__attribution-link{ data: { link: card[:image_attribution_link] } }<
              = card[:image_attribution]
            %span.card__licenses
              %span.license.license--cc<
                Creative Commons
              %span.license.license--attribution<
                Attribution
              - if card[:image_license] == 'by-nd'
                %span.license.license--non-deriv<
                  Non-Derivation
              - if card[:image_license] == 'by-sa'
                %span.license.license--share-alike<
                  Share Alike
