:ruby

  css_classes = [

    "card",
    "card--poi",
    "card--poi--hotel",
    "card--single",
    properties[:bookable?] ? "card--small-image card--extended-content" : "card--no-image"

  ].join(" ")


%article.js-lodging.js-card{class: css_classes }

  %a.link--wrapper{href: properties[:path]}

    - if properties[:bookable?]
      %figure.card__hero
        %img.card__image.js-card__image{src: properties[:list_image]["url"], alt: properties[:name].titleize}

      - price = properties['total_price'] || properties[:indicative_price_in_user_currency]
      .card__tags
        - if price && price > 0
          = ui_component('price_tag', properties: { currency: raw(currency.to_symbol), price: price(price, :no_pence), scope: properties['total_price'] ? 'total stay' : 'per night' })
        = render :partial => '/components/cards/partials/tags', :locals => { properties: properties }

    - else
      .card__tags
        .tag.tag--non-bookable
          %div.icon--contact
        = render :partial => '/components/cards/partials/tags', :locals => { :properties => properties }

    .card__content
      - if (properties[:property_type].present? && properties[:bookable?])
        %span.card__property-type<
          - if properties[:hotel_star_ranking].present?
            = properties[:hotel_star_ranking]
          - else
            = properties[:property_type_title]

      %h2.card__name.js-lodging-name{class: properties[:neighbourhood] ? '' : 'has-no-locale'}<
        = truncate((properties[:name].titleize), :length=> 50, :separator => ' ')

      - if properties[:nearby_place_text]
        %p.card__locale.icon--place--pin--before
          = properties[:nearby_place_text]

      - if properties[:card_description]
        %p.card__description
          = properties[:card_description]

    %footer.card__footer
      %span.btn.btn--yellow.btn--full-width
        = properties[:bookable?] ? 'Book Now' : 'Read more'
