%article.card.card--single.card--poi.card--poi--hotel.js-lodging.js-card{class: card_style_for_lodging(stack_item) }

  %a.link--wrapper{href: stack_item[:path]}

    - if stack_item[:bookable]
      %figure.card__hero
        %img.card__image.js-card__image{src: stack_item[:list_image][:url]}

      - price = stack_item['total_price'] || stack_item[:indicative_price_in_user_currency]
      .card__tags
        - if price && price > 0
          = ui_component('price_tag', properties: { currency: raw(currency.to_symbol), price: price(price, :no_pence), scope: stack_item['total_price'] ? 'total stay' : 'per night' })
        = render :partial => 'components/cards/partials/badges', :locals => {:lodging => stack_item}
    - else
      .card__tags
        .tag.tag--non-bookable
          &#57465;
        = render :partial => 'components/cards/partials/badges', :locals => {:lodging => stack_item}

    .card__content
      - if (stack_item[:property_type].present? && stack_item[:bookable])
        %span.card__property-type<
          - if stack_item[:property_type].downcase == 'hotel' && stack_item[:star_rating]
            = hotel_star_ranking(stack_item[:star_rating])
          - else
            = sentence_case(stack_item[:property_type])

      %h2.card__name.js-lodging-name{class: stack_item[:neighbourhood] ? '' : 'has-no-locale'}<
        = truncate((stack_item[:name].titleize), :length=> 50, :separator => ' ')

      - show_neighbourhood_or_place_name(stack_item, in_lodging_nearby)

      - if stack_item[:description] && stack_item[:lp_reviewed]
        %p.card__description
          = strip_tags(truncate(stack_item[:description], :length=> 255, :separator => '.', :omission => '...')).try(:html_safe)

    %footer.card__footer
      %span.btn.btn--bookable.btn--full-width
        = stack_item[:bookable] ? 'Book Now' : 'Read More'
