:ruby

  css_classes = [

    "card",
    "card--place",
    "card--destination",
    "#{card[:image_url] ? 'card--extended-content' : 'card--no-image'}",
    "#{card[:double?] ? 'card--double card--full-image' : 'card--single'}"

  ].join(" ")


%article.js-card{class: css_classes}

  %a.link--wrapper{href: card[:url]}

    = render partial: "components/cards/partials/card_content", locals: {card: card}

    - if card[:things_to_do_count] && card[:lodging_count]
      %footer.card__footer
        %span.destination__item-count.destination__item-count--sights
          = card[:things_to_do_count]
        %span.destination__item-count.destination__item-count--lodgings
          = card[:lodging_count]
