:ruby

  css_classes = [

    "card",
    "card--place",
    "card--destination",
    "card--icon",
    "icon--destination--pin--before",
    "#{properties[:image_url] ? 'card--extended-content' : 'card--no-image'}",
    "#{properties[:double?] ? 'card--double card--full-image' : 'card--single'}"

  ].join(" ")


%article.js-card{class: css_classes}

  %a.link--wrapper{href: properties[:url]}

    = render partial: "components/cards/partials/card_content", locals: {properties: properties}

    - if properties[:things_to_do_count] && properties[:lodging_count]
      %footer.card__footer
        %span.destination__item-count.destination__item-count--sights.icon--hotel--before
          = properties[:things_to_do_count]
        %span.destination__item-count.destination__item-count--lodgings.icon--sight--before
          = properties[:lodging_count]
