:ruby
  if properties[:style] == "mini"
    return render "components/cards/mini_card", properties: properties.merge({ css_classes: ["card--poi--destination", "card--mini--destination"] })
  end

  css_classes = [

    "card",
    "card--place",
    "card--destination",
    "card--icon",
    "icon--destination--pin--before",
    "#{properties[:image_url] && !properties[:double?] ? 'card--extended-content' : 'card--no-image'}",
    "#{properties[:double?] ? 'card--double card--full-image' : 'card--single'}"

  ].join(" ")

  show_footer = properties[:things_to_do_count] && properties[:lodging_count] && !properties[:double?]


%article.js-card{class: css_classes}

  %a.link--wrapper{href: properties[:url]}

    = render partial: "components/cards/partials/card_content", locals: {properties: properties}

    - if show_footer
      %footer.card__footer
        %span.destination__item-count.destination__item-count--sights.icon--hotel--before
          = properties[:lodging_count]
        %span.destination__item-count.destination__item-count--lodgings.icon--sight--before
          = properties[:things_to_do_count]
