:ruby
  css_classes = [
    "card",
    "card--poi",
    "card--icon",
    "card--mini",
    "card--single",
    "card--quote",
    "card--media-container"
  ].join(" ")

%article.js-card{class: css_classes}
  %a.link--wrapper.card__content.card__content__inner{href: properties[:slug]}
    %span.card__context
      = properties[:context] || "Thorntree"
    %blockquote.card__name{cite: properties[:slug]}
      = properties[:title]
    .card__source
      = safe_image_tag(properties[:avatar], class: "card__avatar", alt: "Avatar of #{properties[:name]}", lazyload: defined?(lazyload)) 
      by 
      %span.card__username
        = properties[:name]
