
:ruby

  topic = properties[:topic].downcase

  css_classes = [

    "card",
    "card--icon",
    "card--poi",
    "card--poi--#{topic}",
    "icon--#{topic}--pin--before",
    "#{properties[:image_url] ? 'card--small-image card--extended-content' : 'card--no-image'}",
    "#{properties[:double?] ? 'card--double card--full-image' : 'card--single'}"

  ].join(" ")


%article.js-card{class: css_classes}

  %a.link--wrapper{href: properties[:url]}


    - if properties[:topchoice] or properties[:price]
      .card__tags
        - if properties[:price]
          = render :partial => '/components/cards/partials/card_price', :locals => { :properties => properties, :price_is_from => true }
        -# Make lp_reviewed false first
        = render :partial => '/components/cards/partials/tags', :locals => { properties: properties }

    - if properties[:image_url]
      %figure.card__hero
        = safe_image_tag(properties[:image_url], class: 'card__image')

    .card__content
      - if properties[:category]
        %span.card__context
          = properties[:category]

      %h1.card__name.js-card-name
        = properties[:name]

      - if properties[:show_place_name?]
        %p.card__locale
          = properties[:place_name]

      - if properties[:duration].present?
        %p.card__tour-duration.copy--caption.icon--length--before
          = properties[:duration]

      %p.card__description
        = properties[:description]

    - if properties[:bookable?]
      %footer.card__footer
        %span.btn.btn--yellow.btn--full-width
          Book now
