%article.card.card--single.card--poi.js-card.js-single{class: "card--poi--#{card[:context].downcase} " + (card[:image_url] ? 'card--small-image card--extended-content' : 'card--no-image') }
  %a.link--wrapper(href="/#{card[:slug]}")
    = render :partial => '/components/cards/partials/things_to_do_card_tags', :locals => { :card => card }
    - if card[:image_url]
      %figure.card__hero
        = image_tag(card[:image_url], class: 'card__image')
    .card__content
      - if card[:category]
        %span.card__context
          = card[:category]
      %h1.card__name.js-card-name
        = card[:name]
      - if card[:duration].present?
        %p.card__tour-duration.copy--caption
          = card[:duration]
      %p.card__description
        = card[:card_description]
    - if card[:bookable?]
      %footer.card__footer
        %span.btn.btn--bookable.btn--full-width
          Book now