<header class='header'>
  <a class='skip' href="#container">Skip global navigation to content</a>
  <div class='hwrap'>
    <div class='logo'>
      <a class="home" href="<%= host_with_subdomain('www') %>" title="Lonely Planet home"></a>
      <form class='search' action='<%=host_with_subdomain_and_path("www", "searchResult") %>' method="get">
        <p class='hd'>
          <label for="search">Search Lonely Planet</label>
        </p>
        <p>
          <input type="text" id="search" maxlength="2048" class="searchText" name="q" value=""/>
          <button type="submit">Search</button>
        </p>
      </form>
    </div>
    <div class='leaderboard'>
      <%= render 'shared/ads/leaderboard' %>
    </div>
  </div>
  <nav class='primary'>
    <ul>
      <% primary_navigation_items.each do |n| %>
        <li class='<%= ([n[:style]] << ('current' if n[:style] == (current_section || params[:c]))).join(' ') %>'>
          <a href='<%= n[:uri] %>'>
            <span><%= n[:title] %></span>
          </a>
          <% if n[:style]=='destinations' ||  n[:style]=='destinations current' %>
            <span class='arrow'></span>
          <% end %>
        </li>
      <% end %>
      <%= membership_item_element %>
      <%= cart_item_element %>
    </ul>
  </nav>
</header>
<div id='breadcrumbWrap' class='posChange'></div>