%meta(charset='utf-8')
%meta(name="author" content='Lonely Planet')
= yield :meta
%meta(name="fb:app_id" content="111537044496")
%meta(name="robots" content="noindex")
%title 
  = content_for?(:head_title) ? yield(:head_title) : 'Lonely Planet Travel Guides and Travel Information'
- if is_client_browser_less_then_ie9?(request.user_agent)
  :javascript
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('figure');
    document.createElement('figurecap');
    document.createElement('hgroup');
:javascript
  document.documentElement.className += ' js';
= stylesheet_link_tag 'application', :media => "all"
= yield :place_hotels_link
%link(rel="icon" type="image/gif" href="http://www.lonelyplanet.com/favicon.ico")
= csrf_meta_tags
