- transparent ||= nil
- if properties[:image_url]
  %figure.card__hero
    - if overlay_url = properties[:overlay_url]
      .card__hero__overlay
        = safe_image_tag(overlay_url, :alt => properties[:title])
    = safe_image_tag(properties[:image_url], class: 'card__image', alt: "#{properties[:title]}", lazyload: defined?(lazyload))

.card__content
  .card__content__inner
    %span.card__context
      = properties[:context]
    %h2.card__name.js-card-name
      = properties[:title]
    - unless properties[:double?] or transparent
      - if properties[:strapline] || properties[:description]
        %p.card__description
          = properties[:strapline] || properties[:description]

    - if properties[:image_license] && properties[:image_license] != 'expedia'
      = render partial: "components/cards/partials/image_attribution", locals: {properties: properties}
