- if card[:image_url]
  %figure.card__hero
    - if overlay_url = card[:overlay_url] && card[:double?]
      .card__hero__overlay
        = safe_image_tag(overlay_url, :alt => card[:title])
    = safe_image_tag(card[:image_url], class: 'card__image', alt: "#{card[:title]}", lazyload: defined?(lazyload))

.card__content
  .card__content__inner
    %span.card__context
      = card[:context]
    %h2.card__name.js-card-name
      = card[:title]
    - unless card[:double?]
      - if card[:strapline] || card[:description]
        %p.card__description
          = card[:strapline] || card[:description]


    = render partial: "components/cards/partials/image_attribution", locals: {card: card}