!!! 5
%html
  %head
    = render 'layouts/partials/head'
  %body{class: client_browser(request.user_agent) }
    .wrap
      = render 'layouts/partials/header'
      = render 'layouts/partials/title_bar', { style: 'green' }
      .content
        = yield
      = render 'layouts/partials/footer'
    = yield :scripts
