<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/partials/head', { title: current_title } %>
  </head>
  <body class='<% client_browser(request.user_agent) %>'>
    <div class="wrap">
      <%= render 'layouts/partials/header' %>
      <%= render 'layouts/partials/title_bar', { title: 'Hotels', local: 'Ho Chi Minh City', style: 'green' } %>
      <%= render 'layouts/partials/unsupported_browser' if is_client_browser_unsupported?(request.user_agent) %>
      <div class='content'>
        <%= yield %>
      </div>
      <%= render 'layouts/partials/footer' %>
    </div>
    <%= render 'layouts/partials/core_scripts' %>
  </body>
</html>