!!! 5
%html
  %head
    = render 'layouts/partials/head'
  %body{class: client_browser(request.user_agent) }
    .wrap
      = render 'layouts/partials/header'
      = render 'layouts/partials/title_bar', { style: 'green' }
      .content
        = yield :secondary
        = yield
      = render 'layouts/partials/footer'
    .js-config.is-hidden   
      = js_configuration        
      = requirejs_include_tag 'app_common' 
      = yield :scripts

