!!! 5
%html
  %head
    = render 'layouts/partials/head', { title: current_title }
  %body{class: client_browser(request.user_agent) }
    .wrap
      = render 'layouts/partials/header'
      = render 'layouts/partials/title_bar', { style: 'green' }
      = render 'layouts/partials/unsupported_browser' if is_client_browser_unsupported?(request.user_agent)
      .content
        = yield
      = render 'layouts/partials/footer'
    = render 'layouts/partials/core_scripts'