!!! 5
%html
  %head
    = render 'layouts/bare/head_snippet'
  %body{class: "lp-bare #{client_browser(request.user_agent)}" }
    .wrap
      = render 'layouts/bare/master_head'
      .content
        = yield
    .js-config.is-hidden   
      = js_configuration        
      = yield :scripts

