!!! 5
<!--[if IE 7]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class='no-js freight' lang="en"><!--<![endif]-->
%head
  = render 'layouts/core/head', responsive: false, suppress_tynt: true

%body.js-wrapper
  .row.row--primary
    .nav-container
      %a.media--lp-logo.logo--header.icon--lp-logo.icon--white(href='http://www.lonelyplanet.com')
      .wv--split--right
        %span.notice.notice--secure
          Secure Checkout
  .row.row--content
    .row__inner.row__inner--content.copy--freight
      = yield
  .row.row--footer
    = render 'layouts/checkout/footer'
  .js-config.is-hidden
    = yield :scripts

- content_for(:stylesheets) do
  = stylesheet_link_tag 'checkout', :media => "all"
