!!! 5
%html
  %head
    = render 'layouts/core_partials/head'
  %body{class: "lp-core #{client_browser(request.user_agent)}" }
    .wrap
      = render 'layouts/core_partials/master_head', :user_nav => user_nav 
      .content
        = yield
    .js-config.is-hidden   
      = js_configuration        
      = requirejs_include_tag 'app_core' 
      = yield :scripts
