!!! 5
<!--[if IE 7]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang="en"><!--<![endif]-->
%head
  = render 'layouts/core/head'
%body
  .wrap--footer-push
    = render 'layouts/core/master_head', :user_nav => defined?(user_nav) ? user_nav : true
    .row.row--content#js-row--content
      .row__inner.row__inner--content
        = yield
      .row--footer-push
  .wrap--footer
    = render 'layouts/core/footer'
  .js-config.is-hidden
    = js_configuration
    = yield :scripts
  = content_for(:build)
