!!! 5
<!--[if IE 7]><html class="no-js ie7 no-freight home base" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 no-freight home" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9 no-freight" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js base no-touch no-freight" lang="en"><!--<![endif]-->
%head
  = render 'layouts/core/head', responsive: true, homepage: true, suppress_tynt: (defined?(suppress_tynt) ? suppress_tynt : false)

%body.responsive.homepage
  .wrapper.js-wrapper
    = render 'layouts/core/snippets/accessibility'
    = render 'layouts/core/snippets/primary_navigation_bar', user_nav: true, responsive: true, homepage: true

    .row.row--content#js-row--content
      = yield

    .wrapper.wrapper--footer
      = render 'layouts/core/snippets/body_footer', responsive: true

    = render 'layouts/core/snippets/pointer_cover'
    = render 'layouts/core/snippets/footer_js'
    = render 'layouts/core/inline_js/img_loader'

    = render 'layouts/core/snippets/one_by_one'

    - if defined? Variant
      /
        = "build: #{Variant.full_namespace}"


