!!! 5
<!--[if IE 7]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang="en"><!--<![endif]-->
%head
  = render 'layouts/core/head'
  - if cookies[:_fullsite] == "true"
    %meta{name:"viewport", content:"width=1024"}
  - else
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}

%body.responsive.homepage
  .wrap--footer-push
    = render 'layouts/core/snippets/responsive_header', user_nav: defined?(user_nav) ? user_nav : true, homepage: true
    .row.row--content.copy--freight#js-row--content
      = yield
      .row--footer-push

  .wrap--footer
    = render 'layouts/core/responsive_footer'
    - if cookies[:_fullsite] != "true"
      = render 'layouts/mobile/view_full_site'

  .js-config.is-hidden
    = render 'layouts/core/snippets/fs_init'
    = js_configuration
    - unless Rails.env.production?
      :javascript
        window.appEnvironment = "#{Rails.env}";
    - if defined?($JS_VARS)
      :javascript
        #{js_hash($JS_VARS)}
    - if is_lp_office?(true_client_ip(request))
      :javascript
        window.lpOffice = true;
    = yield :scripts
  
  %div.ad-oneByOne#js-ad-oneByOne

  - if defined? Variant
    /
      = "build: #{Variant.full_namespace}"


