!!! 5
%html.no-js
  %head
    = render 'layouts/legacy/head'
  %body{class: client_browser(request.user_agent) }
    .wrap
      = render 'layouts/legacy/header'
      = render 'layouts/legacy/title_bar', { style: 'green' }
      .content
        = yield :secondary
        = yield
      = render 'layouts/legacy/footer'
    .js-config.is-hidden   
      = js_configuration        
      = requirejs_include_tag 'app_legacy' 
      = yield :scripts

