!!! 5
<!--[if IE 7]><html class="no-js ie7 no-freight" data-topic="#{yield :topic}" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 no-freight" data-topic="#{yield :topic}" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9 no-freight" data-topic="#{yield :topic}" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class='no-js no-freight base' data-topic="#{yield :topic}" lang="en"><!--<![endif]-->

%head
  = render 'layouts/core/head', responsive: true, homepage: false, suppress_tynt: (defined?(suppress_tynt) ? suppress_tynt : false)

%body.responsive
  = render 'layouts/core/snippets/accessibility'
  = render 'layouts/core/snippets/leaderboard'
  .wrapper
    = render 'layouts/core/snippets/primary_navigation_bar', user_nav: true, responsive: true, homepage: false
    .row.row--content{id: @no_wallpaper ? "" : "js-row--content"}
      - if (yield :secondary).present?
        .row.row--secondary#js-secondary-nav
          .row__inner
            = yield :secondary  

      = yield

    .wrapper.wrapper--footer
      = yield :breadcrumbs
      = render 'layouts/core/snippets/body_footer', responsive: true

    = render 'layouts/core/snippets/footer_js'

    %div.ad-oneByOne#js-ad-oneByOne

    - if defined? Variant
      /
        = "build: #{Variant.full_namespace}"


