!!! 5
<!--[if IE 7]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang="en"><!--<![endif]-->
%head
  = render 'layouts/core/head', responsive: true, homepage: false
  %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
%body.responsive
  .wrapper
    = render 'layouts/core/snippets/accessibility'
    = render 'layouts/core/snippets/primary_navigation_bar', user_nav: true, responsive: true, homepage: false
    .row.row--content#js-row--content
      .row__inner.row__inner--content
        = yield
      .row--footer-push

    .wrap--footer
      = render 'layouts/core/snippets/body_footer', responsive: true

    .js-config.is-hidden
      = render 'layouts/core/snippets/fs_init'
      = js_configuration
      - unless Rails.env.production?
        :javascript
          window.appEnvironment = "#{Rails.env}";
      - if defined?($JS_VARS)
        :javascript
          #{js_hash($JS_VARS)}
      - if is_lp_office?(true_client_ip(request))
        :javascript
          window.lpOffice = true;
      = yield :scripts
    
    %div.ad-oneByOne#js-ad-oneByOne

    - if defined? Variant
      /
        = "build: #{Variant.full_namespace}"


