!!! 5
%html{class: 'no-js no-freight', lang: "en"}

  %head
    = render 'layouts/core/head', responsive: false, homepage: false, suppress_tynt: (defined?(suppress_tynt) ? suppress_tynt : false)
    = stylesheet_link_tag 'styleguide', :media => "all"

  %body

    .wrapper.js-wrapper
      .nav-container
        .row.row--primary
          .split--left
            .wv--nav--inline.nav--primary#js-nav--primary
              %a.media--lp-logo.logo--header.icon--lp-logo.icon--white{href: 'http://rizzo.lonelyplanet.com/styleguide'}
              %h1.title--primary.title--styleguide Style Guide

      .row.row--content#js-row--content
        .row__inner.row__inner--content

          .row.row--secondary#js-secondary-nav
            .row__inner.row__inner--secondary
              = yield :secondary

          .grid-wrapper--10
            = ui_component('navigation/left', properties: left_nav_items)

            .main-content.stack#js-main-content
              = yield


    .js-config.is-hidden
      = render 'layouts/core/snippets/footer_js'
      = yield :scripts

      = javascript_include_tag 'prism'

    = render 'layouts/core/snippets/pointer_cover'
