!!! 5
%html{class: 'no-js no-freight', lang: "en"}

  %head
    = render 'layouts/core/head', responsive: false, homepage: false, suppress_tynt: (defined?(suppress_tynt) ? suppress_tynt : false)
    = stylesheet_link_tag 'styleguide', :media => "all"

  %body

    .wrapper
      .nav-container
        .row.row--primary
          .split--left
            .wv--nav--inline.nav--primary#js-nav--primary
              %a.media--lp-logo.logo--header(href='http://www.lonelyplanet.com')
              %h1.title--primary.title--styleguide Styleguide

          .split--right
            .wv--nav--inline.split--right__inner.nav--user
              %form.nav__item.search--primary
                %label.accessibility(for='search-q') Search
                %input{id: "search", "ng-model" => "search", placeholder: "Search", class: "search__input search__input--primary", name: "q", value: "", autocomplete: "off", tabindex: "1"}

      .row.row--content#js-row--content
        .row__inner.row__inner--content

          .row.row--secondary#js-secondary-nav
            .row__inner.row__inner--secondary
              = ui_component("navigation/secondary", properties: secondary_nav_items)

          .grid-wrapper--10
            = ui_component('navigation/left', properties: left_nav_items)

            .main-content.stack#js-main-content
              = yield


    .js-config.is-hidden
      = render 'layouts/core/snippets/footer_js'
      = yield :scripts

      = javascript_include_tag 'prism'
