!!! 5
%html{class: 'no-js freight js-hover', lang: "en", "ng-app" => "StyleSheetApp"}

  %head
    = render 'layouts/core/head', responsive: false, homepage: false
    = stylesheet_link_tag 'styleguide', :media => "all"
    = stylesheet_link_tag 'prism', :media => "all"

  %body

    .wrapper
      .nav-container
        .row.row--primary
          .split--left
            .wv--nav--inline.nav--primary#js-nav--primary
              %a.media--lp-logo.logo--header(href='http://www.lonelyplanet.com')
              %h1.title--primary.title--styleguide Styleguide

          .split--right
            .wv--nav--inline.split--right__inner.nav--user
              %form.nav__item.search--primary
                %label.accessibility(for='search-q') Search
                %input{id: "search", "ng-model" => "search", placeholder: "Search", class: "search__input search__input--primary", name: "q", value: "", autocomplete: "off", tabindex: "1"}

      .row.row--content#js-row--content
        .row__inner.row__inner--content.copy--freight
          .card-holder
            = ui_component('left_nav', left_nav: left_nav)

            .main-content.stack{ng: {view: true}}
              .grid-view.grid-wrapper--10
                = yield

        .row--footer-push

    .js-config.is-hidden

      = yield :scripts

      = javascript_include_tag 'prism'
      = javascript_include_tag 'lonelyplanet_minjs/dist/$'
      :javascript
        (function(){
          var snippets = $$('pre')
          snippets.forEach(function(snippet){
            if (snippet.firstChild.getBoundingClientRect().height > snippet.getBoundingClientRect().height) {
              var button = document.createElement('span')
              button.className = "btn btn--blue btn--slim js-snippet-expand";
              button.textContent = "Expand snippet";
              button.on('click', function(e){
                this.parentNode.find('pre').classList.toggle("is-open");
              }, false);
              snippet.parentNode.appendChild(button);
            }
          });
        }())
      = render 'styleguide/javascripts/copy'